@model CVModels.ViewModels.CombinedViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Välkommen till startsidan!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            text-align: center;
        }

        .jumbotron {
            padding: 2rem 1rem;
            margin-bottom: 2rem;
            background-color: #e9ecef;
            border-radius: 0.3rem;
        }
    </style>
</head>
<body>

    <div class="container">
        <div class="jumbotron">
            <h1>Välkommen till startsidan!</h1>
            <p>Här kommer ett urval av CV.</p>
        </div>

        <div class="row">
            @foreach (var cv in Model.CVs)
            {
                <div class="col-md-4">
                    <div class="card">
                        <h5 class="card-title">CV för: @cv.AnvändarNamn</h5>
                        <p><strong>Kompetenser:</strong> @cv.Kompetenser</p>
                        <p><strong>Utbildning:</strong> @cv.Utbildningar</p>
                        <p><strong>Tidigare erfarenhet:</strong> @cv.TidigareErfarenhet</p>
                        <a href="@Url.Action("PersonalProfilePage", "Profile", new { userId = cv.AnvändarId })" class="btn btn-primary">Visa Profilsida</a>

                    </div>
                </div>
            }

            @* Kontrollera om det finns några CV att visa *@
            @if (!Model.CVs.Any())
            {
                <div class="col-12">
                    <p>Inga CV att visa.</p>
                </div>
            }
        </div>

        <br>
        <h3>Det senast upplagda projektet</h3>
    
        @if (Model.StartPage.LatestProject != null)
        {
            <h4>@Model.StartPage.LatestProject.Titel</h4>
            <p>@Model.StartPage.LatestProject.Beskrivning</p>
            <!-- Länk till projektets detaljsida, om sådan finns -->
        }
        else
        {
            <p>Inga projekt att visa.</p>
        }
    </div>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>