@{
    Layout = "_Layout";
}

@model IEnumerable<Person>

<div class="container">

    <!--Sökruta-->
    <form method="get" action="@Url.Action("Search", "Profile")">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="searchTerm" placeholder="Sök efter profiler">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Sök</button>
            </div>
        </div>
    </form>
    <!--slut på sökrutan-->

    <!--Felmeddelande-->
    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <div class="alert alert-warning" role="alert">
            @ViewBag.ErrorMessage
        </div>
    }
    <!--slut på felmeddelande-->

    @if (Model != null && Model.Any())
    {
        @foreach (var person in Model)
        {
            <!-- Visar en person i form av en kort layout -->
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">@person.FullName()</h5> <!-- Visar personens fullständiga namn -->
                    <p class="card-text">
                        <strong>Address:</strong> @person.Adress <br /> <!-- Visar personens adress -->
                        <strong>Personal Number:</strong> @person.Personnummer <!-- Visar personens personnummer -->
                    </p>
                    @if (User.Identity.Name != person.User.UserName)
                    {
                        <a href="@Url.Action("ForeignCVPage", "CV", new { användarId = person.User.Id })" class="btn btn-primary">CV Sida</a>
                        <a href="@Url.Action("PersonalProfilePage", "Profile", new { userId = person.User.Id })" class="btn btn-success">Skicka Meddelande</a>
                    }
                </div>
            </div>
        }
    }
    else
    {
        <!-- Visar ett meddelande om det inte finns några profiler att visa -->
        <p>No profiles to display.</p>
    }
</div>
