@model CVModels.CV
@{
    Layout = "_Layout";
}

<h2>CV Page</h2>

<div>
    <h3>Username: @User.Identity.Name</h3>

    @if (Model != null)
    {
        <div class="card mb-3 border-2 rounded">
            <div class="card-body">
                <p class="card-text">Profile Picture: <img src="@Model.ProfilbildPath" alt="Profile Picture" /></p>
                <p class="card-text">Skills: @Model.Kompetenser</p>
                <p class="card-text">Education: @Model.Utbildningar</p>
                <p class="card-text">Previous Experience: @Model.TidigareErfarenhet</p>

                <h3 class="card-title">Projects:</h3>
                @if (Model.DeltarIProjekt != null && Model.DeltarIProjekt.Any())
                {
                    <ul class="list-group">
                        @foreach (var dp in Model.DeltarIProjekt)
                        {
                            <li class="list-group-item">@dp.Proj.Titel - @dp.Proj.Beskrivning</li>
                        }
                    </ul>
                }
                else
                {
                    <p class="card-text">No projects found for this user.</p>
                }
            </div>
        </div>
    }
    else
    {
        <p>No CV found for this user.</p>
    }
</div>
